<%- include ("partials/header.ejs") %>

    <div class="container-results">

        <h1>Results Page</h1>

        <% child.data.children.forEach((kid)=>{ %>
            <div class="border-results">
                <div id="sub-name">
                    <%= kid.data.display_name_prefixed %>
                </div>

                <div class="sub-results">

                    <form action="/hot" method="GET">
                        <input name="kid" type="hidden" value="<%=kid.data.url.trim()%>">
                        <button>HOT</button>
                    </form>

                    <form action="/top" method="GET">
                        <input name="kid" type="hidden" value="<%=kid.data.url.trim()%>">
                        <button>TOP</button>
                    </form>

                    <form action="/rising" method="GET">
                        <input name="kid" type="hidden" value="<%=kid.data.url.trim()%>">
                        <button>RISING</button>
                    </form>

                    <form action="/new" method="GET">
                        <input name="kid" type="hidden" value="<%=kid.data.url.trim()%>">
                        <button>NEW</button>
                    </form>
                </div>
            </div>
            <% }) %>

    </div>
    <%- include ("partials/footer.ejs") %>