<%- include ('../partials/header') %>

    <div class="container-page">

        <h1 class="head">
            <%= child.data.children[0].data.subreddit_name_prefixed %> - HOT</h1>
        <% child.data.children.forEach(kid => { %>


            <div class="post-page">
                <div class="ups">
                    <i class="fa fa-thumbs-up" aria-hidden="true">
                        <%= kid.data.ups %> 
                    </i>
                </div>
                <a class="link-page" href="https://www.reddit.com<%=kid.data.permalink%>">
                    <%= kid.data.title %>
                </a>
                <% if(kid.data.post_hint==="image"){ %>
                    <div class="img-page">
                        <img src="<%=kid.data.url%>">
                    </div>
                    <% } %>
            </div>
            <% }); %>

    </div>
    <%- include ('../partials/footer') %>